<!-- <p>navbar works!</p> -->

<mat-toolbar>
  @if (authService.isLoggedInAsCustomer()) {
    <!-- <button mat-icon-button routerLink="/customer" aria-label="Example icon-button with menu icon"> -->
    <button mat-icon-button (click)="navigateToCustomer()" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <!-- <span>My App</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  } @else if (authService.isLoggedInAsEmployee()) {
    <!-- <button mat-icon-button routerLink="/employee" aria-label="Example icon-button with menu icon"> -->
      <button mat-icon-button (click)="navigateToEmployee()" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <!-- <span>My App</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  }
  <!-- @else {
        <button mat-icon-button routerLink="/login" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
        </button>
    } -->
</mat-toolbar>