<h1> Nachrichten</h1>

<div *ngIf="qrCodeImage">
  <h2>Generierter QR-Code</h2>
  <img [src]="qrCodeImage" alt="QR Code">
</div>

<div *ngIf="misclassifiedFile">
  <h2>Falsch klassifizierte Datei</h2>
  <p><strong>Dateiname:</strong> {{ misclassifiedFile.filename }}</p>
  <p><strong>Modell:</strong> {{ misclassifiedFile.model }}</p>
  <p><strong>Klassifikation:</strong> {{ misclassifiedFile.classification }}</p>
  <p><strong>Produktdaten:</strong> {{ misclassifiedFile.product_data }}</p>
  <p><strong>Nutzerrolle:</strong> {{ misclassifiedFile.role }}</p>
  <img [src]="'data:image/png;base64,' + misclassifiedFile.file" alt="Fehlklassifiziertes Bild">
</div>
