<div *ngIf="training && training?.data" class="training-container">
  <h3>Training Data (KI: {{ training.ki }})</h3>
  <mat-list>
    <mat-card *ngFor="let entry of training.data | keyvalue; let i = index" class="training-item">
      <mat-card-content class="card-content">
        <div class="image-container">
          <img *ngIf="isValidBase64Image(entry.value)"
               [src]="'data:image/jpeg;base64,' + entry.value"
               alt="Training Bild {{ i }}"
               width="200px"
               class="training-image">
        </div>

        <!-- Dropdown für Klassifizierung -->
        <mat-form-field appearance="fill" class="classification-dropdown">
          <mat-label>Klassifizierung</mat-label>
          <mat-select [(ngModel)]="selectedOptions[i]">
            <mat-option *ngFor="let objectClass of objectClasses" [value]="objectClass">
              {{ objectClass }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <ng-template #invalidImage>
        <p class="error-message">Ungültiges Bildformat</p>
      </ng-template>
    </mat-card>
  </mat-list>

  <!-- Button zum Absenden der Labels -->
  <button *ngIf="training?.data" mat-raised-button color="primary" (click)="sendData()">Labels absenden</button>
</div>

<!-- Falls keine Bilder geladen wurden -->
<p *ngIf="!training?.data || (training.data | keyvalue).length === 0" class="error-message">
  Keine Bilder zum Anzeigen.
</p>

