<!-- <p>navbar works!</p> -->

<mat-toolbar>
    @if (authService.isLoggedIn()) {
        <button mat-icon-button routerLink="/employee" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
        </button>
        <!-- <span>My App</span> -->
        <span class="example-spacer"></span>
        <!-- <button mat-icon-buttonaria-label="Example icon-button with share icon" routerLink="/photo">
            <mat-icon>photo_camera</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon-button with share icon" routerLink="/qrcode">
            <mat-icon>qr_code</mat-icon>
        </button> -->
        <span class="example-spacer"></span>
        <button mat-icon-button aria-label="Example icon-button with share icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    } @else {
        <button mat-icon-button routerLink="/login" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
        </button>
    }
</mat-toolbar>

<!-- <nav>
    <ul>
        <li *ngFor="let route of routes">
            <a [routerLink]="route.path" routerLinkActive="active">{{ route.label }}</a>
        </li>
    </ul>
</nav> -->