.dashboard-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

// button {
//   display: block;
//   width: 100%;
//   margin: 10px 0;
// }

button {
  width: 40vw;
  margin: 10px;
}

.mat-secondary {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}
