<div class="dashboard-container">
  <!-- <h1>Dashboard</h1> -->

  <p>Willkommen, {{ userRole }}!</p>

  <!-- Foto-Upload für alle Benutzer -->
  <div>
    <button mat-flat-button (click)="openPhotoComponent()">Foto hochladen</button>
  </div>
  <div>
    <!-- QR-Code Scanner für alle Benutzer -->
    <button mat-flat-button (click)="openQrScanner()">QR-Code scannen</button>
  </div>
  <div>
    <!-- Klassifikation nur für Employees  -->
    <button *ngIf="userRole === 'Mitarbeiter' || userRole === 'Admin'" mat-flat-button color="secondary"
      (click)="openClassification()">Klassifikation</button>
  </div>
  <div>
    <!-- Klassifikation nur für Employees "-->
    <button *ngIf="userRole === 'Admin'" mat-flat-button color="secondary" (click)="openTraining()">Nachtraining</button>
  </div>
</div>