<!-- <p>qrcode works!</p> -->

<div class="container">
  <!-- <div class="frame"> -->
  <!-- <span class="helper"></span> -->
  <!-- <zxing-scanner [enable]="scannerEnabled" (scanSuccess)="scanSuccessHandler($event)"
    (scanError)="scanErrorHandler($event)" (scanFailure)="scanFailureHandler($event)"
    (scanComplete)="scanCompleteHandler($event)"></zxing-scanner> -->

  <!-- <div style="width:100%; height:0; padding-top:100%; position:relative; background-color: green;"> -->
  <div class="frame">
    <zxing-scanner [enable]="scannerEnabled" (scanSuccess)="scanSuccessHandler($event)"
      (scanError)="scanErrorHandler($event)" (scanFailure)="scanFailureHandler($event)"
      (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
  </div>

  <div>
    <button mat-flat-button (click)="scannerEnabled = !scannerEnabled;">
      <!--mat-icon>qr_code_scanner</mat-icon-->
      Toggle scanner
    </button>
  </div>
</div>

<!-- <div>
  <button mat-flat-button (click)="showProductDetails = !showProductDetails;">
    Show product details
  </button>
</div>
<div>
  <button mat-flat-button routerLink="/product-details">Show product details on new page</button>
</div> -->
