.container {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
}

.frame {
  position: relative;
  // background-color: black;
  height: 256px;
  width: 256px;
  // width: 256px;
  border: 2px dashed grey;
  // white-space: nowrap;
  // text-align: center;
  // margin: 1em 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

zxing-scanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  max-width: 256px;
  max-height: 256px;
  // object-fit: contain;
}

button {
  width: 40vw;
  margin: 10px;
}