/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

// @include mat.toolbar-overrides((
//     container-background-color: var(--mat-sys-primary),
//     container-text-color: --mat-sys-on-primary,
//   ));