.container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    /* position: relative; */
    /* background-color: black; */
    /* height: 256px; */
    /* width: 256px; */
    border: 10px solid green;
    /* white-space: nowrap; */
    text-align: center;
    /* margin: 1em 0; */
}

mat-form-field {
    width: 80vw;
    /* display: block; */
}

button {
    width: 40vw;
    /* padding: 10%; */
    margin: 10px;
}