<!-- <p>product-details works!</p> -->

<!-- <div *ngIf="item">
        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput value="{{ item.title }}">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput>{{ item.body }}</textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="number" value="{{ item.id }}">
            </mat-form-field>
            <button mat-flat-button (click)="showDatabaseEntry(classify());">
                Update information
            </button>
            <button mat-flat-button (click)="showDialog();">
                Show dialog
            </button>
        </div>
</div> -->

<div class="container">
  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  <!-- <table mat-table [dataSource]="tableSource" class="mat-elevation-z8">
    <ng-container matColumnDef="column1">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.column1}} </td>
    </ng-container>
    <ng-container matColumnDef="column2">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.column2}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table> -->

  <mat-card>
    <mat-card-content>
  <table>
    <!-- <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr> -->
    <tr>
      <td>Classification:</td>
      <td>Fruit</td>
    </tr>
    <tr>
      <td>Product:</td>
      <td>Banana</td>
    </tr>
    <tr>
      <td>Other information:</td>
      <td>Brazil</td>
    </tr>
    <tr>
      <td>Shelf:</td>
      <td>F2</td>
    </tr>
    <tr>
      <td>Price per piece:</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>Price per kg:</td>
      <td>1.29 Euro</td>
    </tr>
  </table>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-flat-button (click)="navigateToEmployee();">
      Take another photo or QR code
    </button>
  </mat-card-actions> -->
</mat-card>

  <!-- <p><strong>Klassifikation:</strong> {{ fakeMisclassifiedFile.classification }}</p>
  <p><strong>Produkt:</strong> {{ fakeMisclassifiedFile.product }}</p>
  <p><strong>Infos:</strong> {{ fakeMisclassifiedFile.info }}</p>
  <p><strong>Regal:</strong> {{ fakeMisclassifiedFile.shelf }}</p>
  <p><strong>Preis pro Stück:</strong> {{ fakeMisclassifiedFile.price_piece }}</p>
  <p><strong>Preis pro Kg:</strong> {{ fakeMisclassifiedFile.price_kg }}</p> -->

  <button mat-flat-button (click)="navigateToCustomer();">
    <!--mat-icon>videocam</mat-icon-->
    Take another photo or QR code
  </button>

  <!-- <button mat-flat-button routerLink="/photo">
    Take another photo or QR code
  </button> -->
</div>
