Flask
filetype
aio-pika
Unicorn
gunicorn
requests
pydrive
oauth2client
python-magic
redis
PyJWT
ultralytics
numpy
matplotlib
pydrive
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
flask_session
torch
scipy
opencv-python