ngx-file-drop
{
    height: 100px;
    width: 400px;
    border-radius: 30px;
    padding: 5px;
}
ng-template{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #ffffff;
    font-family: system-ui;
}



