.container {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
}

.frame {
  position: relative;
  // background-color: black;
  height: 256px;
  width: 256px;
  // width: 256px;
  border: 10px solid red;
  // white-space: nowrap;
  // text-align: center;
  // margin: 1em 0;
  border-radius: 10px;
}

webcam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 256px;
  max-width: 256px;
  max-height: 256px;
  // object-fit: contain;
}

img {
  position: absolute;
  max-width: 256px;
  max-height: 256px;
  top: 127px;
  left: 50%;
  transform: translate(-50%, -50%);
}