<div class="container">
  <!-- Buttons für Webcam-Steuerung -->
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="toggleWebcam();">
      Webcam
    </button>
    <button *ngIf="showWebcam"  mat-raised-button color="primary" (click)="showWebcam = true; triggerSnapshot();">
      Foto aufnehmen
    </button>
  </div>

  <!-- Webcam wird nur angezeigt, wenn showWebcam aktiv ist -->
  <mat-card *ngIf="showWebcam" class="webcam-card">
    <mat-card-content>
      <webcam [height]="256" [width]="256" [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)" [allowCameraSwitch]="allowCameraSwitch"
              [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
              [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)">
      </webcam>
    </mat-card-content>
  </mat-card>

  <!-- Zeigt das aufgenommene Bild an -->
  <mat-card *ngIf="showWebcam && webcamImage" class="image-card">
    <mat-card-content>
      <img [src]="webcamImage.imageAsDataUrl" alt="Aufgenommenes Bild" class="captured-image"/>
    </mat-card-content>
  </mat-card>

  <!-- Bildverarbeitung -->
  <div *ngIf="showWebcam && webcamImage" class="button-group">
    <button mat-raised-button color="primary" (click)="handleCapturedImage(webcamImage);">
      Bild senden
    </button>
  </div>

  <!-- Bild-Upload-Komponente -->
  <mat-card class="upload-card">
    <mat-card-content>
      <app-image-upload (fileUploaded)="resetState()"></app-image-upload>
    </mat-card-content>
  </mat-card>

  <!-- Klassifizierte Bilder -->
  <mat-card *ngIf="misclassifiedFile" class="misclassified-card">
    <mat-card-header>
      <mat-card-title>Ich habe diese Klassifizierung erkannt:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="'data:image/png;base64,' + misclassifiedFile.file" alt="Fehlklassifiziertes Bild" class="misclassified-image">

      <p><strong>Klassifikation:</strong> {{ misclassifiedFile.classification }}</p>

      <!-- Falls das Produkt nicht vorhanden ist, zeige nur Text -->
      <p *ngIf="misclassifiedFile.product === 'Das Produkt ist leider nicht im Supermarkt vorhanden.'">
        <strong>Hinweis:</strong> Das erkannte Produkt ist leider nicht im Supermarkt verfügbar.
      </p>

      <!-- Falls das Produkt vorhanden ist, zeige die zusätzlichen Infos -->
      <ng-container *ngIf="misclassifiedFile.product !== 'Das Produkt ist leider nicht im Supermarkt vorhanden.'">
        <p><strong>Produkt:</strong> {{ misclassifiedFile.product }}</p>
        <p><strong>Infos:</strong> {{ misclassifiedFile.info }}</p>
        <p><strong>Regal:</strong> {{ misclassifiedFile.shelf }}</p>
        <p><strong>Preis pro Stück:</strong> {{ misclassifiedFile.price_piece }}€</p>
        <p><strong>Preis pro Kg:</strong> {{ misclassifiedFile.price_kg }}€</p>
      </ng-container>

    </mat-card-content>
  </mat-card>

  <!-- Ablehnungsoptionen -->
  <mat-card *ngIf="showRejectionOptions && qrCodeVisible && qrCodeImage?.length !== 0 && (userRole === 'Mitarbeiter' || userRole === 'Admin')" class="rejection-card">
    <mat-card-header>
      <mat-card-title>Generierter QR-Code</mat-card-title>
    </mat-card-header>
    <mat-card-content class="qr-code-content">
      <img #qrImage [src]="qrCodeImage" alt="QR Code" class="qr-code-image">
    </mat-card-content>
    <mat-card-actions class="button-group">
      <!--button mat-raised-button color="accent" (click)="decodeQRCode()">
        QR-Code scannen
      </button-->
    </mat-card-actions>
  </mat-card>

  <!-- Produktdaten-Anzeige -->
  <mat-card *ngIf="showRejectionOptions && sendQrCodeResult" class="product-info-card">
    <mat-card-header>
      <mat-card-title>Produktdaten</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Produkt:</strong> {{ sendQrCodeResult.product }}</p>
      <p><strong>Infos:</strong> {{ sendQrCodeResult.info }}</p>
      <p><strong>Regal:</strong> {{ sendQrCodeResult.shelf }}</p>
      <p><strong>Preis pro Stück:</strong> {{ sendQrCodeResult.price_piece }} €</p>
      <p><strong>Preis pro Kg:</strong> {{ sendQrCodeResult.price_kg }} €</p>
    </mat-card-content>
  </mat-card>

  <!-- Buttons für Bestätigung und Ablehnung -->
  <div *ngIf="misclassifiedFile"  class="button-group">
    <button *ngIf="userRole === 'Mitarbeiter' || userRole === 'Admin'" mat-raised-button color="primary" (click)="confirm()">
      Bestätigen
    </button>
    <button *ngIf="userRole === 'Mitarbeiter' || userRole === 'Admin'" mat-raised-button color="warn" (click)="reject()">
      Ablehnen
    </button>
  </div>

  <div class="button-group">
    <button *ngIf="userRole === 'Mitarbeiter' || userRole === 'Admin' && showQROptions" mat-raised-button color="primary" (click)="sendData()">
      QR-Code laden
    </button>
  </div>

</div>
